@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url(helvetica.woff) format('woff');
    }
    @font-face {
        font-family: 'Helvetica';
        src: url(helvetica-bold.woff);
        font-weight: bold;
      }
}